#navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 1200px;
    margin: 0 auto;
    align-items: center;

    @media screen and (max-width: 1600px) {
        width: 1200px;        
    }

    @media screen and (max-width: 500px){
        max-width: 80%;
        padding-top: 30px;        
    }

    @media screen and (max-width: 360px){
        max-width: 80%;
        padding-top: 20px;        
    }

    h1{
        color: white;

        @media screen and (max-width: 500px){
            display: none;
        }
    }

    svg{
        height: 50px;
    }

    a{  
        font-family: $main-font;
        margin: 20px;
        font-size: 1.4em;
        color: #f9f9f9;
        text-decoration: none;
        position: relative;

        @media screen and (max-width: 500px){
            margin: 5px;
            font-size: 1.2em;
        }

        @media screen and (max-width: 360px) {
            margin: 5px;            
            font-size: 1.1em;
        }

        @media screen and (max-width: 340px) {
            margin: 5px;            
            font-size: 0.9em;
        }

        &:hover{
            cursor: pointer;
        }
    
        &:after{
            display: block;
            position: absolute;
            content: "";
            background-color: $orange;
            bottom: -15px;
            left: 0;
            width: 0;
            height: 6px;
            transition: all 0.5s;
            transition-timing-function: cubic-bezier(0.69, 0.38, 0.17, 1.3);
        }
    
        &:hover:after{
            width: 100%;
        }


    }

}