
.projects-container{
    padding: 20px;

}

.project-card{
    background-color: $orange;
    display: flex;
    margin-bottom: 50px;
    border-radius: 2px;

    @include iPad{
    }

    .project-screenshot{
        min-width: 300px;
        border-radius: 2px;
        -webkit-clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);
        left: -20px;
        top: -20px;
        position: relative;

        @media screen and (max-width: 500px){
            
            display: none;    
            
        }
    }

    .project-info{
        font-family: $main-font;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;


        @include iPad{

        }

        
        h2{
            font-size: 2em;
            color: $maroon;
            margin-bottom: 20px;



            @media screen and (max-width: 500px){
                
                margin-bottom: 10px;       
                   
            }
        }

        p{

            margin-bottom: 20px;

            @media screen and (max-width: 500px){
                
                margin-bottom: 20px;       
                   
            }

        }

        .project-skills{

            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;

            @include iPad{
                display: flex;
                flex-wrap: wrap;
            }

            a{
                border: 2px solid #790133;
                border-radius: 10px;
                padding: 5px;
                margin-right: 10px;
                margin-bottom: 10px; 

                @media screen and (max-width: 500px){
                    
                    display: inline-flex;
                    justify-content: center;
                    margin-bottom: 10px; 
                       
                }
            }      
           
    }

        .project-buttons{

            margin-bottom: 20px;

            a{
                color: #790133;
                padding: 10px;
                font-weight: 700;
                position: relative;
                z-index: 1;
                transition: 0.1s ease in;
                overflow: hidden;
                border: 5px solid #790133;
                outline: 0;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.15s ease-in;
                margin: 10px 20px 20px 0;

                &:hover{
                    color: $off-white;
                    cursor: pointer;
                }

                &:before{
                    content: "";
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    background-color: $maroon;
                    width: 100%;
                    height: 0;
                    z-index: -1;
                    transition: 0.15s ease-in;
                }

                &:hover:before{
                    height: 100%;
                }

                @media screen and (max-width: 500px){
                    display: block;
                    margin-bottom: 0px; 
                    text-align: center;
                    
                }

            }

            svg{
                display: inline-block;
                vertical-align: bottom;
                margin-left: 5px;
            }

        }
    }

}