
.projects-container{
    padding: 20px;

}

.project-card{
    background-color: $orange;
    display: flex;
    margin-bottom: 5vh;
    border-radius: 2px;

    .project-screenshot{
        min-width: 300px;
        height: 400px;
        border-radius: 2px;
        position: relative;
        top: -20px;
        left: -20px;

        @media screen and (max-width: 500px){
            
            display: none;    
            
        }
    }

    .project-info{
        font-family: $main-font;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;

        @media screen and (max-width: 500px){
            
            
        }

        
        h2{
            font-size: 2em;
            color: $maroon;

            @media screen and (max-width: 500px){
                
                margin-bottom: 10px;       
                   
            }
        }

        p{
            @media screen and (max-width: 500px){
                
                margin-bottom: 20px;       
                   
            }

        }

        .project-skills{

            @media screen and (max-width: 500px){
            }

            a{
                border: 2px solid #790133;
                border-radius: 10px;
                padding: 5px;
                margin-right: 10px;
                margin-bottom: 10px; 

                @media screen and (max-width: 500px){
                    
                    display: inline-flex;
                    justify-content: center;
                    margin-bottom: 10px; 
                       
                }
            }      
           
    }

        .project-buttons a{
            color: #790133;
            padding: 10px;
            font-weight: 700;
            position: relative;
            z-index: 1;
            transition: 0.1s ease in;
            overflow: hidden;
            border: 5px solid #790133;
            outline: 0;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.15s ease-in;
            margin: 10px 20px 20px 0;

            &:hover{
                color: $off-white;
                cursor: pointer;
            }

            &:before{
                content: "";
                bottom: 0;
                left: 0;
                position: absolute;
                background-color: $maroon;
                width: 100%;
                height: 0;
                z-index: -1;
                transition: 0.15s ease-in;
            }

            &:hover:before{
                height: 100%;
            }

            @media screen and (max-width: 500px){
                display: block;
                margin-bottom: 0px; 
                text-align: center;
                   
            }

        }


    }

}